exportPattern("^[[:alpha:]]+")
import(RPMM,doParallel,foreach)
importFrom(mclust, Mclust, mclustBIC)
export(BMIQ,
       bmiq_parallel
       gmqn_bmiq,
       gmqn_bmiq_parallel,
       gmqn_normalize,
       gmqn_parallel,
       gmqn_swan,
       gmqn_swan_parallel,
       set_reference)



